# Python packages required for testing and development of this collection
pytest
pytest-mock
pytest-ansible
pytest-xdist
requests
pydantic>=2.0.0
# Linting and code formatting tools
tox
black
flake8
isort
pytfe>=0.1.4