---
organization: "{{ terraform_cloud_organization }}"
tfc_token: "{{ terraform_cloud_token }}"
stc_id: "{{ stc_id }}"
sdg_id: "{{ sdg_id }}"
sdg_name: "{{ sdg_name }}"
stack_deployment_run_id: "{{ stack_deployment_run_id }}"
stack_deployment_step_id: "{{ stack_deployment_step_id }}"
stack_diagnostic_id: "{{ stack_diagnostic_id }}"
stack_state_id: "{{ stack_state_id }}"
