[
  {
    "after": {
      "triggers": null
    },
    "after_header": "null_resource.test1 will be created\n Changes to apply.",
    "before": null
  },
  {
    "after": {
      "triggers": null
    },
    "after_header": "null_resource.test2 will be created\n Changes to apply.",
    "before": null
  }
]
