[
  {
    "address": "null_resource.test1",
    "change": {
      "actions": [
        "create"
      ],
      "after": {
        "triggers": null
      },
      "after_sensitive": {},
      "after_unknown": {
        "id": true
      },
      "before": null,
      "before_sensitive": false
    },
    "mode": "managed",
    "name": "test1",
    "provider_name": "registry.terraform.io/hashicorp/null",
    "type": "null_resource"
  },
  {
    "address": "null_resource.test2",
    "change": {
      "actions": [
        "create"
      ],
      "after": {
        "triggers": null
      },
      "after_sensitive": {},
      "after_unknown": {
        "id": true
      },
      "before": null,
      "before_sensitive": false
    },
    "mode": "managed",
    "name": "test2",
    "provider_name": "registry.terraform.io/hashicorp/null",
    "type": "null_resource"
  }
]
